
@{
    ViewBag.Title = "Dual Vision Online";
    Layout = "~/Views/Templates/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @RenderPage("~/Views/Templates/FileUploadForm.cshtml")
    </div>
</div>

